<div class="container m-large">
  <h1 class="heading-3">{{ 'brands.choose-from-brands' | translate }}</h1>
  <p>{{ 'brands.description' | translate }}</p>
  <div class="">
    <div class="">
      <mat-grid-list [cols]="columnsNum" gutterSize="16px" rowHeight="1:0.65">
        <mat-grid-tile
          class="rounded"
          title="{{ brand?.name }}"
          *ngFor="let brand of brandsList$ | async"
          [style.backgroundImage]="'url(' + brand?.thumb_image + ')'"
        >
          <!-- TODO: update with ui-href after BE update with standart Brand page -->
          <a href="/brands/{{ brand?.name }}"></a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <p
    class="m-t-1 m-b-1"
    [innerHtml]="'brands.join-program-link' | translate"
  ></p>
  <section class="m-large">
    <lnr-need-help></lnr-need-help>
  </section>
</div>
