<div class="row">
  <div class="col-sm-12 col-md-2 offset-md-1">
    <h6>Vouchers</h6>
  </div>

  <div class="col-sm-12 col-md-8">
    <ng-container *ngIf="mode === 'update'">
      <p>Your current balance is 0 euro</p>

      <form [formGroup]="form">
        <div formGroupName="voucher">
          <mat-form-field appearance="outline" class="lnr-w-100">
            <mat-label>Voucher code</mat-label>
            <input
              formControlName="code"
              type="text"
              matInput
              placeholder="Enter value"
            />
            <mat-error
              *ngIf="
                voucherForm.get('code').touched &&
                voucherForm.get('code').errors
              "
            >
              <small *ngIf="voucherForm.get('code').errors.required"
                >Field is required</small
              >
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <div class="col-sm-7"></div>
          <div class="col-sm-12 col-md-2">
            <button mat-stroked-button class="lnr-w-100" (click)="openView()">
              Close
            </button>
          </div>
          <div class="col-sm-12 col-md-3">
            <button
              mat-raised-button
              type="submit"
              color="primary"
              class="lnr-w-100"
              [disabled]="form?.invalid"
            >
              Save
              <lnr-loader-spinner-small
                *ngIf="false"
              ></lnr-loader-spinner-small>
            </button>
          </div>
        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="mode === 'view'">
      <div class="row">
        <div class="col-sm-10">
          <table class="lnr-table-info lnr-mrg-btm">
            <tr>
              <td>Current balance:</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Voucher:</td>
              <td>123456789</td>
            </tr>
          </table>
        </div>
        <div class="col-sm-2 lnr-text-align-r">
          <button mat-button class="lnr-btn-edit" (click)="openUpdate()">
            <mat-icon>edit</mat-icon>
            Edit
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
