<div class="container">
  <div class="m-large">
    <div class="row">
      <div class="col-md-10 dark-font-color">
        <h3
          [innerHTML]="
            'event_template.header' | translate: { eventName: event.name }
          "
        ></h3>
        <p class="heading-5">
          {{ 'event_template.subheader' | translate }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <lnr-event-welcome-screen [event]="event"></lnr-event-welcome-screen>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 dark-font-color">
      <h4>{{ event.bikes_title }}</h4>
      <p class="heading-5">
        {{ event.bikes_description }}
      </p>
    </div>
  </div>
  <div [ngClass]="{ 'd-none': !event.rides.length }">
    <lnr-events-bikes [bikes]="event.rides"></lnr-events-bikes>
  </div>

  <div class="row m-large" [ngClass]="{ 'd-none': !event.testimonials.length }">
    <div class="col-md-12">
      <lnr-testimonials-swiper [responses]="event.testimonials">
      </lnr-testimonials-swiper>
    </div>
  </div>

  <div class="row" [ngClass]="!event.testimonials.length ? 'm-large' : 'm-b-6'">
    <div class="col-md-10 dark-font-color">
      <h4>
        {{ 'events_template.swiper_title' | translate }}
      </h4>
      <p class="heading-5">
        {{ 'events_template.swiper_subtitle' | translate }}
      </p>
    </div>
    <div class="col-md-12">
      <lnr-events-small-swiper></lnr-events-small-swiper>
    </div>
    <div class="event-page_button col-md-11 m-t-1">
      <button
        mat-flat-button
        class="m-t-2 m-b-2"
        routerLink="/events"
        color="accent"
      >
        <span class="white regular heading-6">
          {{ 'shared.button_see_all_events' | translate }}
        </span>
      </button>
    </div>
  </div>
</div>
