@import '../../../../../../../assets/scss/variables';

.footer-partners-block {
  &_title {
    color: $light-grey-font;
    font-size: $small-fontsize;
    margin: 0 0 0 -1.6rem;
  }
}

@media (max-width: $device-xs) {
  .footer-partners-block {
    img {
      max-width: 7rem;
    }
  }
}
