<div class="flex wrap-toolbar-component content-center align-items-center">
  <div class="toolbar-component-container">
    <div
      class="flex direction-row content-between align-items-center row-no-wrap"
    >
      <div class="flex align-items-center">
        <a class="logo" [ngClass]="{ 'd-none': activeSearch }" routerLink="/">
          <img
            src="../../../../../assets/images/icons/shared/lnr_logo_bold.svg"
            alt="logo"
          />
        </a>
        <div
          *ngIf="!hideSearch()"
          class="d-none d-sm-block"
          [ngClass]="{ 'd-block': activeSearch }"
        >
          <div class="flex direction-row search-autocomplete">
            <mat-icon class="m-r-1">search</mat-icon>
            <input
              matInput
              matGoogleMapsAutocomplete
              placeholder="{{ 'shared.search-placeholder' | translate }}"
              [(ngModel)]="location"
              (onAutocompleteSelected)="onAutocompleteSelected($event)"
            />
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="d-sm-none wrap-search">
          <mat-icon
            *ngIf="!hideSearch()"
            class="m-r-2 search-btn white"
            [ngClass]="{ 'd-none': activeSearch }"
            (click)="showSearch()"
            >search
          </mat-icon>
          <mat-icon
            class="m-r-2 d-none white close-btn"
            (click)="close('toggle button')"
            [ngClass]="{ 'd-block': activeSearch }"
          >
            close
          </mat-icon>
        </div>
        <div>
          <lnr-menu [isLoggedIn]="isLoggedIn$ | async"></lnr-menu>
        </div>
      </div>
    </div>
  </div>
</div>
