<div class="lnr-dialog-header">
  <h2 mat-dialog-title class="text-center">
    {{ 'forms.sign-up' | translate }}
  </h2>

  <mat-error>
    <lnr-http-error-message
      [error]="signUpError || signUpFacebookError || socialUserError"
    >
    </lnr-http-error-message>
  </mat-error>

  <lnr-button-close (closed)="close()"></lnr-button-close>
</div>

<mat-dialog-content>
  <div class="row m-b-1">
    <div class="col-sm-12">
      <div class="tabs">
        <div class="buttons-wrap" [ngClass]="tabType">
          <button
            mat-button
            (click)="toggleTab('private')"
            [ngClass]="{ active: showPrivate }"
          >
            {{ 'verification.private' | translate }}
          </button>
          <button
            mat-button
            (click)="toggleTab('business')"
            [ngClass]="{ active: showBusiness }"
          >
            {{ 'settings.business' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <form
    *ngIf="form"
    [formGroup]="form"
    (ngSubmit)="signUp()"
    lnrFocusFirstInvalidField
  >
    <div formGroupName="business" [hidden]="!(tabType === 'business')">
      <div class="row">
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-p-100">
            <mat-label>
              {{ 'settings.company-name' | translate }}
            </mat-label>
            <input
              formControlName="company_name"
              type="text"
              matInput
              placeholder="{{ 'forms.company_name_placeholder' | translate }}"
            />
            <mat-error
              *ngIf="
                businessForm.get('company_name').touched &&
                businessForm.get('company_name').errors
              "
            >
              <span *ngIf="businessForm.get('company_name').errors?.required">
                {{ 'settings.errors.required-company-name' | translate }}
              </span>
              <span *ngIf="businessForm.get('company_name').errors?.minlength">
                {{ 'settings.errors.minlength-company-name' | translate }}
              </span>
              <span *ngIf="businessForm.get('company_name').errors?.maxlength">
                {{ 'settings.errors.maxlengh_company_name' | translate }}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div formGroupName="user">
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-p-100">
            <mat-label>{{ 'forms.first-name' | translate }}</mat-label>
            <input
              formControlName="first_name"
              type="text"
              matInput
              placeholder="{{ 'forms.errors.empty-first-name' | translate }}"
              lnrAutofocus
            />
            <mat-error
              *ngIf="
                userForm.get('first_name').touched &&
                userForm.get('first_name').errors
              "
            >
              <span *ngIf="userForm.get('first_name').errors?.required">{{
                'forms.errors.empty-first-name-xs' | translate
              }}</span>
              <span *ngIf="userForm.get('first_name').errors?.minlength">
                {{ 'forms.errors.min_size_first_name' | translate }}
              </span>
              <span *ngIf="userForm.get('first_name').errors?.maxlength">
                {{ 'forms.errors.max-size-first-name' | translate }}
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-p-100">
            <mat-label>{{ 'forms.last-name' | translate }}</mat-label>
            <input
              formControlName="last_name"
              type="text"
              matInput
              placeholder="{{ 'forms.errors.empty-last-name' | translate }}"
            />
            <mat-error
              *ngIf="
                userForm.get('last_name').touched &&
                userForm.get('last_name').errors
              "
            >
              <span *ngIf="userForm.get('last_name').errors?.required">
                {{ 'forms.errors.empty-last-name-xs' | translate }}
              </span>
              <span *ngIf="userForm.get('last_name').errors?.minlength">
                {{ 'forms.errors.min_size_last_name' | translate }}
              </span>
              <span *ngIf="userForm.get('last_name').errors?.maxlength">
                {{ 'forms.errors.max-size-last-name' }}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-p-100">
            <mat-label>{{ 'forms.email_address' | translate }}</mat-label>
            <input
              formControlName="email"
              type="email"
              matInput
              placeholder="{{ 'shared.your-email' | translate }}"
            />
            <mat-error
              *ngIf="
                userForm.get('email').touched && userForm.get('email').errors
              "
            >
              <span *ngIf="userForm.get('email').errors?.required">{{
                'forms.errors.empty-email-xs' | translate
              }}</span>
              <span
                *ngIf="
                  !userForm.get('email').errors?.required &&
                  userForm.get('email').errors?.wrongMail
                "
                >{{ 'forms.errors.valid-email' | translate }}</span
              >
              <span
                *ngIf="
                  !userForm.get('email').errors?.required &&
                  userForm.get('email').errors?.noAt
                "
              >
                {{ 'forms.errors.email_containment' | translate }}
              </span>
              <span
                *ngIf="
                  !userForm.get('email').errors?.required &&
                  userForm.get('email').errors?.noName
                "
              >
                {{ 'forms.errors.email_wrong_format' | translate }}
              </span>
              <span
                *ngIf="
                  !userForm.get('email').errors?.required &&
                  userForm.get('email').errors?.wrongDomain
                "
              >
                {{ 'forms.errors.email_wrong_domain' | translate }}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field
            appearance="outline"
            class="w-p-100 wrap-password-field"
          >
            <mat-label>{{ 'forms.password' | translate }}</mat-label>
            <div class="flex">
              <input
                formControlName="password"
                [type]="passwordVisible ? 'text' : 'password'"
                matInput
                placeholder="{{ 'forms.password' | translate }}"
              />
              <div
                class="toggle-visibility light-font cursor-pointer"
                (click)="togglePasswordVisibility()"
              >
                <mat-icon>visibility</mat-icon>
              </div>
            </div>
            <mat-error
              *ngIf="
                userForm.get('password').touched &&
                userForm.get('password').errors
              "
            >
              <span *ngIf="userForm.get('password').errors.required">
                {{ 'forms.errors.password_missing_xs' | translate }}
              </span>
              <span *ngIf="userForm.get('password').errors?.minlength">
                {{ 'forms.errors.password_length_xs' | translate }}
              </span>
              <span *ngIf="userForm.get('password').errors?.maxlength">
                {{ 'forms.errors.password_length_xs' | translate }}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="lnr-checkbox" formGroupName="user">
      <mat-checkbox formControlName="terms">
        <span
          class="small"
          [innerHtml]="'forms.signing-up-accept-tac' | translate"
        >
        </span>
      </mat-checkbox>
    </div>

    <div class="lnr-checkbox m-b-2" formGroupName="notification_preference">
      <mat-checkbox formControlName="newsletter">
        <span
          class="small"
          [innerHtml]="'forms.signing-up-accept-newsletter' | translate"
        >
        </span>
      </mat-checkbox>
    </div>

    <div [matTooltip]="submitBtnTooltip">
      <button
        mat-raised-button
        color="primary"
        class="w-p-100 m-b-1"
        type="submit"
        [disabled]="
          (showPrivate && userForm.invalid) ||
          (showBusiness && (userForm.invalid || businessForm.invalid)) ||
          signUpPending ||
          signUpFacebookPending
        "
        [matTooltip]="submitBtnTooltip"
      >
        {{ 'forms.sign-up' | translate }}
        <lnr-loader-spinner-small [hidden]="!signUpPending">
        </lnr-loader-spinner-small>
      </button>
    </div>

    <lnr-divider class="m-b-1" text="{{ 'forms.or' | translate }}">
    </lnr-divider>

    <div>
      <button
        mat-raised-button
        type="button"
        class="w-p-100 m-b-2 lnr-fb-button"
        color="primary"
        (click)="signUpFB()"
        [disabled]="
          signUpPending ||
          signUpFacebookPending ||
          (showBusiness && businessForm.invalid)
        "
      >
        {{ 'forms.sign-up-with-facebook' | translate }}
        <lnr-loader-spinner-small
          [hidden]="!socialUserPending && !signUpFacebookPending"
        >
        </lnr-loader-spinner-small>
      </button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="lnr-d-flex lnr-space-btw">
  <a (click)="openLoginDialog()">{{ 'forms.member-already' | translate }}</a>
</mat-dialog-actions>
