$main-blue: #7ab2f8;
$main-green: #5fc693;
$light-grey: #ccc;
$black: #000;
$white: #fff;
$text-color: #555;

$dark-text-color: #353441;
$dark-background: #343940;
$light-text-color: #7c7c84;
$grey-background: #586067;
$white-font-color: $white;
$light-grey-font: #949a9f;
$submit-button-color: $main-green;
$submit-button-color-disabled: #e1e6e6;
$error-color: #ff6e5a;
$missing-information-color: #feb35b;
$social-media-bg: #2b3036;
$social-media-bg-hover: #1f252c;
$table-header-color: #ecf1f4;
$input-autofill-color: #e8f0fe;
$input-border: #ced4d8;
$lnr-dang: #ff445b;
$lnr-warn: #feb35b;
$lnr-success: #5fc693;
$link-color: #0d6327;
