@import 'utils/utils';

$sizes: (0, 1, 2, 4, 6);

@each $size in $sizes {
  //margin

  .m-#{$size} {
    margin: #{$size}rem;
  }

  .m-t-#{$size} {
    margin-top: #{$size}rem;
  }

  .m-b-#{$size} {
    margin-bottom: #{$size}rem;
  }

  .m-r-#{$size} {
    margin-right: #{$size}rem;
  }

  .m-l-#{$size} {
    margin-left: #{$size}rem;
  }

  //padding

  .p-#{$size} {
    padding: #{$size}rem;
  }

  .p-t-#{$size} {
    padding-top: #{$size}rem;
  }

  .p-b-#{$size} {
    padding-bottom: #{$size}rem;
  }

  .p-r-#{$size} {
    padding-right: #{$size}rem;
  }

  .p-l-#{$size} {
    padding-left: #{$size}rem;
  }
}

.m-auto {
  margin: 0 auto;
}

// margin between sections
.m-large {
  margin-top: 5rem;
  margin-bottom: 5rem;
  @include if-smaller-than(md) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
