@import '../../../../../assets/scss/variables';

:host {
  display: block;
  position: relative;
  text-align: center;

  mat-dialog-content {
    &.desktop {
      padding-top: 90px;
    }

  }

  .lnr-dialog-header {
    &.desktop {
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    @media (max-width: $device-sm) {
      min-height: 32px;
    }

  }

  .mat-dialog-content {
    min-height: 453px;

    &.mobile {
      max-height: 87vh;
    }
  }

  ::ng-deep .mat-stepper-vertical {
    .mat-stepper-vertical-line {
      &::before {
        @media (max-width: $device-sm) {
          bottom: 0;
          top: 0;
        }
      }
    }

    .mat-vertical-stepper-header {
      padding: 24px 0;

      @media (max-width: $device-sm) {
        padding: 12px 0;
      }
    }

    .mat-vertical-content-container {
      margin-left: 11px;

      .mat-vertical-content {
        padding: 0 6px 24px 12px;
      }
    }

  }

  ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
    justify-content: center;
    left: 0;
    margin: auto;
    max-width: 500px;
    padding: 4px;
    position: absolute;
    right: 0;
    top: 0;

    .mat-horizontal-stepper-header {
      padding: 5px;

      &::before,
      &::after {
        top: 16px;
      }

      .mat-step-label {
        font-size: 12px;
        padding: 0;
      }
    }

    .mat-stepper-horizontal-line {
      top: 16px;
    }
  }
}

