<div class="wrap-event-page">
  <div class="container">
    <div class="row m-large">
      <div class="col-md-8 col-sm-12">
        <h1 class="heading-3">
          {{ 'home.events_block.title' | translate }}
        </h1>
        <p class="heading-4">
          {{ 'home.events_block.subtitle' | translate }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <h3 class="dark-font-color">
          {{ 'events.upcoming_events' | translate }}
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngIf="events$ | async as futureEvents">
        <div *ngFor="let event of futureEvents['future_events']">
          <lnr-timeline-block [seoEvent]="event"></lnr-timeline-block>
        </div>
      </div>
    </div>
    <div class="row m-large">
      <div class="col-sm-12">
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <h3 class="dark-font-color">
          {{ 'events.past_events' | translate }}
        </h3>
      </div>
    </div>
    <div class="row m-b-2">
      <div class="col-md-12" *ngIf="events$ | async as pastEvents">
        <div *ngFor="let event of pastEvents['past_events']">
          <lnr-timeline-block [seoEvent]="event"></lnr-timeline-block>
        </div>
      </div>
    </div>
    <!--    TODO add breadcrumbs-->
    <!--    <div class="row">-->
    <!--      <div class="col-md-12 m-t-2 m-b-2">-->
    <!--        <lnr-breadcrumbs></lnr-breadcrumbs>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
