<div id="adien">
  <div
    class="row"
    [ngStyle]="{ opacity: !onLoad }"
    [ngClass]="onLoad && 'not-shown'"
  >
    <div class="col-md-6 col-xl-4">
      <label
        class="bold field-size small"
        [innerHTML]="'booking.payment.card_name' | translate"
      ></label>
      <input
        placeholder="Holder name"
        [(ngModel)]="holderName"
        (input)="changeHolderName($event)"
        type="text"
        id="holder-name"
        pattern="[A-Za-z-0-9]{2,}"
      />
    </div>

    <div class="col-md-6 col-xl-4">
      <label class="bold field-size"
        >{{ 'booking.payment.card_number' | translate }}*</label
      >
      <div class="lnr-adyen-input-holder" data-cse="encryptedCardNumber"></div>
    </div>
    <div class="col-sm-6 col-xl-2">
      <label class="bold field-size"
        >{{ 'booking.payment.exp_date' | translate }}*</label
      >
      <div class="lnr-adyen-input-holder" data-cse="encryptedExpiryDate"></div>
    </div>
    <div class="col-sm-6 col-xl-2">
      <label class="bold field-size"
        >{{ 'booking.payment.cvc' | translate }}*</label
      >
      <div
        class="lnr-adyen-input-holder"
        data-cse="encryptedSecurityCode"
      ></div>
    </div>
  </div>
  <lnr-loader-spinner-small *ngIf="onLoad"></lnr-loader-spinner-small>
</div>
