<div class="step-content">
  <div class="step-content-header">
    <h3
      class="step-title"
      *ngIf="isMobile"
      [innerHTML]="'verification.5.verify_phone_number' | translate"
    >
      <sup>
        <lnr-view-template-status
          [value]="'private'"
        ></lnr-view-template-status>
      </sup>
    </h3>

    <h3
      class="step-title"
      *ngIf="!isMobile"
      [innerHTML]="'verification.5.verify_phone_number' | translate"
    >
      <sup>
        <lnr-view-template-status
          [value]="'private'"
        ></lnr-view-template-status>
      </sup>
    </h3>

    <p
      class="lnr-mrg-btm"
      [innerHTML]="'verification.5.verify_phone_subtitle' | translate"
    ></p>
  </div>

  <div class="small-form">
    <mat-error class="lnr-text-align-l">
      <lnr-http-error-message
        [error]="phoneError || otpError || resendOtpError"
      ></lnr-http-error-message>
    </mat-error>

    <ng-container *ngIf="!stepCompleted && !phoneConfirmed">
      <lnr-phone-verification
        (phoneReady)="onPhoneReady($event)"
        (phoneInvalid)="onPhoneInvalid($event)"
      ></lnr-phone-verification>
    </ng-container>

    <ng-container *ngIf="!stepCompleted && phoneConfirmed">
      <lnr-otp-verification
        (otpReady)="onOtpReady($event)"
        (otpInvalid)="onOtpInvalid($event)"
      ></lnr-otp-verification>

      <p class="lnr-d-flex-center" [hidden]="stepCompleted">
        <span
          [hidden]="isMobile"
          [innerHTML]="'verification.5.did_not_receive_code' | translate"
        >
          <b>{{ phoneControlOutput?.internationalNumber }}</b
          >?</span
        >
        &nbsp;
      </p>

      <p class="lnr-d-flex-center">
        <a
          class="lnr-d-flex"
          [class.disabled]="resendOtpPending"
          (click)="resendOtp()"
          [innerHTML]="'verification.5.resend_confirmation_sms' | translate"
        >
          <lnr-loader-spinner-small
            [hidden]="!resendOtpPending"
          ></lnr-loader-spinner-small>
          <span [hidden]="!resendOtpSuccess || resendOtpPending">(sent)</span>
        </a>

        <span>&nbsp; or &nbsp;</span>

        <a
          [class.disabled]="false"
          (click)="changeNumber()"
          [innerHTML]="'forms.update_contact' | translate"
        ></a>
      </p>
    </ng-container>

    <ng-container *ngIf="stepCompleted">
      <h5>
        Your phone number is: <b>{{ user.phoneNumber | phone }}</b>
      </h5>
      <a
        (click)="changeNumber()"
        [innerHTML]="'forms.update_contact' | translate"
      ></a>
    </ng-container>
  </div>
</div>

<div class="step-actions lnr-d-flex lnr-space-btw">
  <div class="left-side" *ngIf="isDesktop || isTablet">
    <button
      mat-button
      matStepperPrevious
      class="lnr-btn-back"
      [hidden]="isItFirstStep"
    >
      <mat-icon svgIcon="arrow-left"></mat-icon>
      {{ 'list.back' | translate }}
    </button>
  </div>

  <div class="right-side">
    <button
      mat-stroked-button
      color="primary"
      (click)="nextOrCloseIfLastStep()"
    >
      {{ (stepCompleted ? 'shared.next' : 'shared.skip') | translate }}
    </button>

    <button
      mat-raised-button
      color="primary"
      class="lnt-btn-min-width lnr-mrg-l-16"
      [hidden]="phoneConfirmed || stepCompleted"
      [disabled]="!phoneControlOutput"
      (click)="requestOtp()"
      [innerHTML]="'verification.5.send_confirmation_sms' | translate"
    >
      <lnr-loader-spinner-small
        [hidden]="!phonePending"
      ></lnr-loader-spinner-small>
    </button>

    <button
      mat-raised-button
      color="primary"
      class="lnt-btn-min-width lnr-mrg-l-16"
      [hidden]="!phoneConfirmed"
      [disabled]="!otp"
      (click)="confirmOtp()"
    >
      {{ 'shared.confirm' | translate }} &
      {{ (isItLastStep ? 'shared.complete' : 'shared.proceed') | translate }}
      <lnr-loader-spinner-small
        [hidden]="!otpPending"
      ></lnr-loader-spinner-small>
    </button>
  </div>
</div>
