<form [formGroup]="form">
  <mat-error>
    <lnr-http-error-message [error]="null"></lnr-http-error-message>
  </mat-error>

  <div class="row">
    <div class="col-sm-12">
      <mat-google-maps-autocomplete
        [address]="address"
        [appearance]="'outline'"
        (onAutocompleteSelected)="onAutocompleteSelected($event)"
        [requiredErrorText]="'You can define address by this autocomplete'"
        [invalidErrorText]="'Address invalid'"
      >
      </mat-google-maps-autocomplete>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <mat-form-field appearance="outline" class="lnr-w-100">
        <mat-label [innerHTML]="'forms.street' | translate"></mat-label>
        <input
          formControlName="street"
          type="text"
          matInput
          placeholder="Enter street"
        />
        <mat-error
          *ngIf="form.get('street').touched && form.get('street').errors"
        >
          <small *ngIf="form.get('street').errors.required"
            >Field is required</small
          >
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-sm-4">
      <mat-form-field appearance="outline" class="lnr-w-100">
        <mat-label [innerHTML]="'forms.streetnumber' | translate"></mat-label>
        <input
          formControlName="number"
          type="text"
          matInput
          placeholder="Enter number"
        />
        <mat-error
          *ngIf="form.get('number').touched && form.get('number').errors"
        >
          <small *ngIf="form.get('number').errors.required"
            >Field is required</small
          >
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <mat-form-field appearance="outline" class="lnr-w-100">
        <mat-label [innerHTML]="'forms.zip' | translate"></mat-label>
        <input
          formControlName="zip"
          type="number"
          matInput
          placeholder="Enter zip"
        />
        <mat-error *ngIf="form.get('zip').touched && form.get('zip').errors">
          <small *ngIf="form.get('zip').errors.required"
            >Field is required</small
          >
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-sm-4">
      <mat-form-field appearance="outline" class="lnr-w-100">
        <mat-label [innerHTML]="'forms.city' | translate"></mat-label>
        <input
          formControlName="city"
          type="text"
          matInput
          placeholder="Enter city"
        />
        <mat-error *ngIf="form.get('city').touched && form.get('city').errors">
          <small *ngIf="form.get('city').errors.required"
            >Field is required</small
          >
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-sm-4">
      <mat-form-field appearance="outline" class="lnr-w-100">
        <mat-label [innerHTML]="'forms.country' | translate"></mat-label>
        <input
          formControlName="country"
          type="text"
          matInput
          placeholder="Enter country"
        />
        <mat-error
          *ngIf="form.get('country').touched && form.get('country').errors"
        >
          <small *ngIf="form.get('country').errors.required"
            >Field is required</small
          >
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
