<div *ngIf="brand$ | async as brand">
  <lnr-brand-template-welcome-screen
    [logo]="brand.logo"
    [responses]="brand.hero_images"
  ></lnr-brand-template-welcome-screen>
  <div class="brand-page container">
    <div class="row justify-content-md-center">
      <div class="m-b-2 m-t-2 col-md-8 col-sm-12">
        <h3 class="dark-font-color text-center">
          {{ brand.texts.main.title }}
        </h3>
        <p class="heading-6 text-lg-left text-sm-center">
          {{ brand.texts.main.desc }}
        </p>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let item of brand.texts.columns" class="col-md-4 col-sm-12">
        <img
          alt="brand"
          class="w-p-100 brand-page_column-img"
          src="{{ item.image }}"
        />
        <h4 class="heading-4 m-t-1">
          {{ item.title }}
        </h4>
        <p>
          {{ item.desc }}
        </p>
      </div>
    </div>
    <div class="row d-none d-md-block">
      <div class="col-sm-12 p-t-2 p-b-4">
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-6 text-center m-t-1 m-b-1">
        <h5
          class="light-font"
          [innerHTML]="
            'brand.choose_location' | translate: { brandName: brand.title }
          "
        ></h5>
      </div>
    </div>
    <lnr-brand-template-bike-list [response]="brand.bikes">
    </lnr-brand-template-bike-list>
    <div class="row d-none d-md-block">
      <div class="col-sm-12 p-t-4 p-b-4">
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="m-b-2 m-t-2 col-md-8 col-sm-12">
        <h3 class="dark-font-color text-center">
          {{ brand.texts.info.title }}
        </h3>
        <p class="heading-6 text-lg-left text-sm-center">
          {{ brand.texts.info.desc }}
        </p>
      </div>
      <div class="col-md-8 m-b-2" *ngIf="brand.technical_specs_image">
        <img
          class="brand-page_technical-img"
          alt="brand technical img"
          src="{{ brand.technical_specs_image }}"
        />
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-8 m-b-4">
        <p class="heading-6">
          {{ brand.texts.meta_data.title }}
        </p>
        <p class="heading-6">
          {{ brand.texts.meta_data.desc }}
        </p>
      </div>
    </div>
  </div>
</div>
