@import "variables";
@import "utils/utils";

:host::ng-deep .preview-container {
  display: grid;
  grid-template-columns: 50% 50%;

  .bikePhotoContainer {

    display: flex;
    margin-bottom: 2rem;
    @include if-smaller-than(sm) {
      flex-direction: column;
    }

    .bikeCheckedContainer {
      display: grid;
      grid-template-columns: 23% 77%;
      justify-content: center;


      @include if-smaller-than(sm) {
        grid-template-columns: 30% 77%;

      }

      .imgCheckboxContainer {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        font-size: $h6-fontsize;
        line-height: 120%;
        width: 7rem;
        height: 6rem;

        input[type="radio"] {
          display: none;
        }

        label.custom-checkbox {
          border: .1rem solid $input-border;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          max-width: 1.8em;
          max-height: 1.8em;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        span {
          margin-left: 1rem;
        }

        input:checked ~ label:before {
          content: "\2714";
        }
      }
      .imgCheckboxButton {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin: 1.8rem 2rem 0 0;
      }


      img.myBikePhoto {
        width: 16.4rem !important;
        height: 11rem !important;
      }

      button.remove {
        color: $error-color;
        margin: 0;
        margin-left: -1.6rem;
      }
    }
  }
}
