@import 'src/assets/scss/variables';
@import "utils/utils";


#right-side-request-flow {
  min-width: 36rem;
  margin-top: 9rem;
  border: .2rem solid $input-border;
  border-radius: .4rem;
  box-sizing: border-box;
  padding: 1rem;
  margin-left: 4rem;

  @include if-smaller-than(lg) {
    max-width: 36rem;
    min-width: 20rem;
    margin-left: 1rem;
  }

  & > div:last-child {
    margin-top: -2rem;
  }

  div.d-flex {
    border-bottom: .1rem solid $input-border;
    box-sizing: border-box;
    font-size: $small-fontsize;
    line-height: 2.4rem;
  }

  div.dates {
    border: .1rem solid $input-border;
    border-radius: .4rem;
  }

  div.d-flex:last-child {
    border: none;
    font-weight: 500;
    line-height: 250%;
  }

  span {
    font-weight: 500;
    font-size: $base-font_size;
    line-height: 250%;
    padding: .1rem 0;
  }

  button {
    background: $main-green;
    border-radius: .4rem;
    font-weight: bold;
    font-size: $base-font_size;
    line-height: 1.9rem;
    color: $white;
    border: none;
    width: 100%;
        margin: 1rem 0 3rem 0;

  }

  input {
    width: 100%;
    height: 5rem;
    border-radius: .4rem;
    border: .1rem solid $input-border;
    padding-left: 2rem;

  }

  textarea::placeholder {
    color: black
  }
}

  @include if-smaller-than(xl) {

    #right {
      min-width: 100%;
      margin: 4rem 0;
  }
}
