<div class="row">
  <div class="col-sm-12 col-md-2 offset-md-1">
    <h6>Phone</h6>
  </div>

  <ng-container *ngIf="mode === 'update'">
    <div class="col-sm-12 col-md-8">
      <lnr-phone-update></lnr-phone-update>

      <div class="row">
        <div class="col-sm-12 col-md-10"></div>
        <div class="col-sm-12 col-md-2">
          <button mat-stroked-button class="lnr-w-100" (click)="openView()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="mode === 'view'">
    <div class="col-sm-12 col-md-8">
      <div class="row">
        <div class="col-sm-10">
          <table class="lnr-table-info lnr-mrg-btm">
            <tr>
              <td>Phone:</td>
              <td>{{ user?.phoneNumber | phone }}</td>
            </tr>
          </table>
        </div>
        <div class="col-sm-2 lnr-text-align-r">
          <button mat-button class="lnr-btn-edit" (click)="openUpdate()">
            <mat-icon>edit</mat-icon>
            Edit
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
