// TODO: remove this styles after apply Mariya's styles

.lnr {
  .lnr-w-100 {
    width: 100%;
  }

  .lnr-mrg-btm {
    margin-bottom: 24px;
  }

  .lnr-mrg-btm-sm {
    margin-bottom: 12px;
  }

  .lnr-mrg-r-16 {
    margin-right: 16px;
  }

  .lnr-mrg-l-16 {
    margin-left: 16px;
  }

  .lnt-btn-min-width {
    min-width: 160px;
  }

  .lnr-d-flex {
    display: flex;
  }

  .lnr-d-flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .lnr-flex-justify-center {
    justify-content: center;
  }

  .lnr-flex-align-center {
    align-items: center;
  }

  .lnr-space-btw {
    justify-content: space-between;
  }

  .lnr-text-align-ctr {
    text-align: center;
  }

  .lnr-text-align-r {
    text-align: right;
  }

  .lnr-text-align-l {
    text-align: left;
  }
}
