<table class="table d-none d-sm-table">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="w-p-8">{{ 'invoices.request_id' | translate }}</th>
      <th scope="col" class="w-p-8">
        {{ 'invoices.invoice_number' | translate }}
      </th>
      <th scope="col" class="w-p-16">{{ 'invoices.bike' | translate }}</th>
      <th scope="col" class="w-p-8">{{ 'invoices.start_date' | translate }}</th>
      <th scope="col" class="w-p-8">{{ 'invoices.end_date' | translate }}</th>
      <th scope="col" class="w-p-16">{{ 'shared.rider' | translate }}</th>
      <th scope="col" class="lnr-text-align-r w-p-4">
        {{ 'invoices.payout' | translate }}
      </th>
      <th scope="col" class="w-p-8">
        {{ 'invoices.credit_notes' | translate }}
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let report of reports | keyvalue: keyDescOrder">
    <tr>
      <td colspan="8">
        <h3>{{ report.key }}</h3>
      </td>
    </tr>
    <tr *ngFor="let invoice of report.value">
      <td>
        <a [routerLink]="['/requests/' + invoice.requestId]">
          {{ invoice.requestId }}
        </a>
      </td>
      <td>{{ invoice.id }}</td>
      <td>
        <a [routerLink]="['/bikes/' + invoice.bikeId]">{{ invoice.bike }}</a>
      </td>
      <td>{{ invoice.startDate | date: 'dd.MM.yyyy' }}</td>
      <td>{{ invoice.endDate | date: 'dd.MM.yyyy' }}</td>
      <td>{{ invoice.rider }}</td>
      <td class="lnr-text-align-r">
        {{ invoice.payout | lnr_currency }}
      </td>
      <td>
        <a (click)="getPdf(invoice.id)">
          {{ 'shared.download' | translate }}
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex flex-column d-sm-none">
  <div *ngFor="let report of reports | keyvalue: keyDescOrder">
    <h4>{{ report.key }}</h4>
    <div class="m-t-1 m-b-1">
      <mat-divider></mat-divider>
    </div>
    <div *ngFor="let invoice of report.value" class="d-flex flex-column">
      <div class="d-flex flex-row justify-content-between">
        <a [routerLink]="['/requests/' + invoice.requestId]">
          #{{ invoice.requestId }}
        </a>
        <a (click)="getPdf(invoice.id)">
          {{ 'invoices.download_pdf' | translate }}
        </a>
      </div>
      <div>{{ 'invoices.invoice_number' | translate }}: {{ invoice.id }}</div>
      <div>
        {{ invoice.startDate | date: 'dd.MM.yyyy' }} -
        {{ invoice.endDate | date: 'dd.MM.yyyy' }}
      </div>
      <div class="d-flex flex-row justify-content-between">
        <a [routerLink]="['/bikes/' + invoice.bikeId]">{{ invoice.bike }}</a>
        <b>{{ invoice.payout | lnr_currency }}</b>
      </div>
      <div class="m-t-1 m-b-1">
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
</div>

<div [hidden]="isEmpty(reports)" class="download-csv">
  <a (click)="getCsv()">
    {{ 'invoices.download_csv' | translate }}
  </a>
</div>

<div [hidden]="!isEmpty(reports)" class="lnr-no-invoices">
  <h3>{{ 'invoices.no_rentals' | translate }}</h3>
</div>
