<article class="container about-us-page">
  <section class="m-large">
    <div class="row">
      <div class="col-md-8">
        <h1 class="heading-3" [innerHTML]="'about_us.header' | translate"></h1>
        <p [innerHTML]="'about_us.content_title' | translate"></p>
      </div>
    </div>
    <div class="row">
      <lnr-image-text
        class="w-p-100"
        [imageAlign]="'left'"
        [imageUrl]="MAIN_IMAGE_URL + '/about/about-us-page_main-img1.jpg'"
      >
        <div class="m-t-1 m-b-1">
          <h4
            class="main-blue-font-color"
            [innerHTML]="'about_us.community.title' | translate"
          ></h4>
          <p [innerHTML]="'about_us.community.content' | translate"></p>
        </div>
      </lnr-image-text>
    </div>
    <div class="row m-large">
      <lnr-image-text
        class="w-p-100"
        [imageAlign]="'right'"
        [imageUrl]="MAIN_IMAGE_URL + '/about/about-us-page_main-img2.jpg'"
      >
        <div class="m-t-1 m-b-1">
          <h4 class="main-blue-font-color">
            {{ 'about_us.future.title' | translate }}
          </h4>
          <p [innerHTML]="'about_us.future.content' | translate"></p>
        </div>
      </lnr-image-text>
    </div>
  </section>

  <section class="m-large">
    <div class="row">
      <div class="col-md-8">
        <h4
          class="heading-4"
          [innerHtml]="'about_us.showroom.header' | translate"
        ></h4>
        <p [innerHtml]="'about_us.showroom.subtitle' | translate"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 m-t-1 m-b-1">
        <lnr-image-on-bg-text
          [imageText]="'Berlin'"
          [imageUrl]="MAIN_IMAGE_URL + '/about/berlin.jpg'"
        >
          <div class="m-t-1 m-b-1">
            <p
              [innerHTML]="
                'about_us.community.content_berlin_showroom' | translate
              "
            ></p>
            <div class="map-block m-t-2">
              <a
                href="https://www.google.com/maps/place/List+and+Ride/@52.5237683,13.3992768,17z/data=!3m1!4b1!4m5!3m4!1s0x47a851e3db8dd117:0x5603f6d72224e2b1!8m2!3d52.5237683!4d13.4014655"
                rel="nofollow"
                target="_blank"
              >
                <img
                  class="w-p-100"
                  src="{{ MAIN_IMAGE_URL }}/about/map-berlin.jpg"
                  alt="berlin_map"
                />
              </a>
              <div class="m-t-1 flex direction-row align-items-center">
                <mat-icon class="map-icon-color">place</mat-icon>
                <span
                  [innerHtml]="'about_us.showroom.berlin_address' | translate"
                ></span>
              </div>
            </div>
          </div>
        </lnr-image-on-bg-text>
      </div>
      <div class="col-md-6 m-t-1 m-b-1">
        <lnr-image-on-bg-text
          [imageText]="'Munich'"
          [imageUrl]="MAIN_IMAGE_URL + '/about/munich.jpg'"
        >
          <div class="m-t-1 m-b-1">
            <p
              [innerHTML]="
                'about_us.community.content_munich_showroom' | translate
              "
            ></p>
            <div class="map-block m-t-2">
              <a
                rel="nofollow"
                target="_blank"
                href="https://www.google.com/maps/place/Nymphenburger+Str.+86,+80636+M%C3%BCnchen/@48.150483,11.5465415,20z/data=!4m13!1m7!3m6!1s0x0:0x0!2zNDjCsDA5JzAxLjgiTiAxMcKwMzInNDEuMyJF!3b1!8m2!3d48.1505014!4d11.5447967!3m4!1s0x479e760ed065c633:0x679f8bd3c40ca9!8m2!3d48.1505014!4d11.5469854"
              >
                <img
                  class="w-p-100"
                  src="{{ MAIN_IMAGE_URL }}/about/map-munich.jpg"
                  alt="map-munich"
                />
              </a>
              <div class="m-t-1 flex direction-row align-items-center">
                <mat-icon class="map-icon-color">place</mat-icon>
                <span
                  [innerHtml]="'about_us.showroom.munich_address' | translate"
                ></span>
              </div>
            </div>
          </div>
        </lnr-image-on-bg-text>
      </div>
    </div>
  </section>

  <section class="m-large">
    <lnr-need-help></lnr-need-help>
  </section>
</article>
