<div class="row">
  <div class="col-sm-12 col-md-2 offset-md-1">
    <h6>Newsletter</h6>
  </div>

  <div class="col-sm-12 col-md-7">
    <p>
      Subscribe and receive our newsletter freshly to your inbox. Our newsletter
      informs you about newest brands, useful and new features on listnride.com,
      what's happening in the community, as well as travel destinations with
      listed bikes and cycling events. Did we mention it's crafted with a lot of
      love and dedication? Because it is. You can unsubscribe at any time, of
      course.
    </p>

    <div class="row">
      <div class="col-sm-12 col-md-8"></div>

      <div class="col-sm-12 col-md-4"></div>
    </div>
  </div>
</div>
