<div class="lnr-dialog-header">
  <h5 mat-dialog-title>Select your profile photo</h5>
  <lnr-button-close (click)="close()"></lnr-button-close>
</div>
<mat-dialog-content>
  <mat-error>
    <lnr-http-error-message [error]="null"></lnr-http-error-message>
  </mat-error>

  <ng-container *ngIf="mode === 'create'">
    <div [hidden]="showCropper" class="lnr-mrg-btm">
      <label for="file-upload" class="file-upload-btn"> </label>
      <input
        #addInput
        id="file-upload"
        type="file"
        accept="image/*"
        (change)="fileChangeEvent($event)"
      />
    </div>

    <div class="lnr-img-file-upload-cropper" [hidden]="!showCropper">
      <div class="controls">
        <button (click)="rotateLeft()">
          <mat-icon svgIcon="rotate-left"></mat-icon>
        </button>
        <button (click)="rotateRight()">
          <mat-icon svgIcon="rotate-right"></mat-icon>
        </button>
        <button (click)="flipHorizontal()">
          <mat-icon svgIcon="axis-z-rotate-counterclockwise"></mat-icon>
        </button>
        <button (click)="flipVertical()">
          <mat-icon svgIcon="axis-y-rotate-counterclockwise"></mat-icon>
        </button>
        <button (click)="zoomOut()">
          <mat-icon svgIcon="magnify-minus-outline"></mat-icon>
        </button>
        <button (click)="zoomIn()">
          <mat-icon svgIcon="magnify-plus-outline"></mat-icon>
        </button>
        <button (click)="resetImage()">
          <mat-icon svgIcon="reload"></mat-icon>
        </button>
        <button (click)="deleteImage(addInput)">
          <mat-icon svgIcon="delete"></mat-icon>
        </button>
      </div>
      <div class="cropper">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [resizeToWidth]="256"
          [cropperMinWidth]="128"
          [onlyScaleDown]="true"
          [roundCropper]="true"
          [canvasRotation]="canvasRotation"
          [transform]="transform"
          [alignImage]="'left'"
          [style.display]="showCropper ? null : 'none'"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady($event)"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
        <div class="preview">
          <div class="image-wrapper">
            <img
              class="lnr-mrg-btm"
              [src]="croppedImage"
              [style.border]="croppedImage ? '1px solid black' : 'none'"
            />
            <button
              mat-raised-button
              color="primary"
              class="lnr-w-100"
              (click)="submit()"
            >
              Save
              <lnr-loader-spinner-small
                *ngIf="uploading"
              ></lnr-loader-spinner-small>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div [hidden]="showCropper">
      <p>
        Please upload only formats as jpg, jpeg, png. Maximum size is 20mb.
        Minimum dimension is 100px x 100px.
      </p>

      <p>
        <small
          >By uploading a picture, I agree that listnride saves the picture as
          described in the Privacy Policy. I can delete it at any time.</small
        >
      </p>
    </div>
  </ng-container>

  <ng-container *ngIf="mode === 'update'"> </ng-container>
</mat-dialog-content>

<!--<mat-dialog-actions class="lnr-d-flex lnr-space-btw">-->

<!--  <button mat-stroked-button color="primary">Close</button>-->

<!--</mat-dialog-actions>-->
