@import '../../../../../assets/scss/variables';

mat-dialog-content {
  min-height: 300px;
}

input[type='file'] {
  display: none;
}

.file-upload-btn {
  border: 2px solid;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 150px;
  margin: 0 auto;
  position: relative;
  width: 150px;

  &:hover {
    border-width: 4px;

    &::before,
    &::after {
      width: 4px;
    }
  }

  &::before,
  &::after {
    background-color: $black;
    bottom: 0;
    content: '';
    display: block;
    height: 30px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
  }

  &::after {
    transform: rotate(90deg);
  }
}

.lnr-img-file-upload-cropper {
  .controls {
    button {
      background: transparent;
      border: none;
      color: #868686;
      padding: 0 5px;

      :hover {
        color: #000;
      }
    }
  }

  .cropper {
    display: flex;
    justify-content: space-between;

    image-cropper {
      max-height: 300px;
      max-width: 50%;
    }

    .preview {
      position: relative;
      width: 100%;

      .image-wrapper {
        bottom: 0;
        height: 150px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;

        top: 0;
        width: 100px;
      }

      img {
        border-radius: 50%;
        overflow: hidden;
        width: 100%;
      }
    }
  }
}
