@import '../../../assets/scss/variables';

.tabs {
  background: white;
  text-align: center;

  .buttons-wrap {
    display: inline-block;
    position: relative;

    &::after {
      background: $main-blue;
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      transition: left 0.1s;
      width: 33.3%;
    }

    &.profile {
      &::after {
        left: 0;
      }
    }

    &.account {
      &::after {
        left: 33.3%;
      }
    }

    &.availability {
      &::after {
        left: 66.6%;
      }
    }

  }

  button {
    border-radius: 0;
    box-sizing: content-box;
    height: 41px;
    position: relative;

    &.active {
      color: #7ab2f8;

      &::after {

      }
    }
  }
}

::ng-deep lnr-settings {
  table.lnr-table-info {
    tr {
      td:first-child {
        min-width: 16rem;
      }
    }
  }
}
