<div class="container">
  <div class="lnr-mrg-btm"></div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Settings</h3>
    </div>
  </div>

  <div class="row lnr-mrg-btm">
    <div class="col-sm-12">
      <div class="tabs lnr-mrg-btm">
        <div class="buttons-wrap" [ngClass]="tabType">
          <button
            mat-button
            (click)="toggleTab('profile')"
            [ngClass]="{ active: showProfile }"
          >
            Profile
          </button>
          <button
            mat-button
            (click)="toggleTab('account')"
            [ngClass]="{ active: showAccount }"
          >
            Account
          </button>
          <button
            mat-button
            (click)="toggleTab('availability')"
            [ngClass]="{ active: showAvailability }"
          >
            Availability
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <lnr-settings-profile
        [hidden]="!showProfile"
        [user]="user$ | async"
      ></lnr-settings-profile>
      <lnr-settings-account
        [hidden]="!showAccount"
        [user]="user$ | async"
      ></lnr-settings-account>
      <lnr-settings-availability
        [hidden]="!showAvailability"
        [user]="user$ | async"
      ></lnr-settings-availability>
    </div>
  </div>
</div>
