<div class="time-line-block timeline">
  <div class="time-line-block_container p-t-2 p-b-2">
    <div class="time-line-block_content flex direction-row">
      <div
        class="time-line-block_date-desktop time-line-block_left bold dark-font-color heading-6"
      >
        <div class="flex align-items-end direction-column">
          <span>
            {{ seoEvent.pretty_date }}
          </span>
          <span>{{ seoEvent.location }}</span>
        </div>
      </div>
      <div class="time-line-block_right flex p-l-2">
        <div class="p-r-2 p-l-2">
          <a
            class="cursor-pointer heading-4 dark-font-color"
            href="events/{{ seoEvent.name }}"
          >
            {{ seoEvent.title }}
          </a>
          <div
            class="time-line-block_date-mobile dark-font-color dark-font-color heading-6"
          >
            <div class="flex align-items-left direction-column p-t-1 p-b-1">
              <span>
                {{ seoEvent.pretty_date }}
              </span>
              <span>{{ seoEvent.location }}</span>
            </div>
          </div>
          <p class="heading-6">
            {{ seoEvent.description }}
          </p>
        </div>
        <img class="cursor-pointer" alt="" src="{{ seoEvent.thumb_image }}" />
      </div>
    </div>
  </div>
</div>
