@import 'variables';
@import 'utils/utils';

.timeline {
  margin: 0 auto;
  max-width: 100%;
  position: relative;

  ::after {
    background-color: $black;
    bottom: 0;
    content: '';
    left: 30%;
    position: absolute;
    top: 0;
    width: 0.4rem;

    @include if-smaller-than(md) {
      border: 0.2rem solid $black;
      left: 5%;
      width: 0.2rem;
      font-size: $small-fontsize;
    }
  }

  .time-line-block {
    &_left {
      left: 0;
      width: 30%;
      padding-right: 4rem;
      @include if-smaller-than(md) {
        padding-right: 0;
        font-size: $small-fontsize;
      }
    }

    &_date-desktop {
      display: block;
      @include if-smaller-than(md) {
        display: none;
      }
    }

    &_date-mobile {
      display: none;
      @include if-smaller-than(md) {
        display: block;
      }
    }

  &_content {
    position: relative;

    &::after {
      background: $white;
      border: 0.4rem solid $black;
      border-radius: 50%;
      content: '';
      height: 1.8rem;
      margin-left: -0.7rem;
      position: absolute;
      width: 1.8rem;
      z-index: 1;
    }
  }

  &_right {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    left: 50%;
    width: 70%;
    @include if-smaller-than(xl) {
      flex-direction: column;

    }
    @include if-smaller-than(md) {
      align-items: center;
      padding-left: 3rem;
      width: 100%;
      font-size: $h5-fontsize;
    }

    img {
      height: 20rem;
      min-width: 36rem;
      object-fit: cover;
      object-position: center;
      width: 100%;
      @include if-smaller-than(md) {
        height: 16rem;
        max-width: 28rem;
        min-width: 24rem;
        width: 100%;
      }
    }
  }
}

}
