@import '../../../../../assets/scss/variables';

.step-content {
  .step-content-header {
    max-width: 436px;
  }
}

h6 {
  letter-spacing: 0.6px;

  @media (max-width: $device-sm) {
    font-size: 1.3rem;
  }

}

.email-description {
  color: $light-text-color;
}

.contact-info {
  margin-top: 120px;
}
