@import 'variables';
@import 'utils/utils';

:host {
  display: flex;
  margin-top: 1rem;
  width: 100%;

  @media (max-width: $device-xs) {
    background-color: $white-font-color;
    border-radius: 0 0 12px 12px;
    box-shadow: 29px 23px 50px rgba(86, 89, 96, 0.76);
    left: 0;
    margin-top: 0;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .filters-toolbar {
    display: none;

    @media (max-width: $device-xs) {
      display: flex;
    }

    .filters-label,
    .filters-close {
      cursor: pointer;
      text-align: center;
    }
  }

  .submit-container {
    display: none;

    .btn-filter-submit {
      background-color: $submit-button-color;
      flex: 1;
      height: 50px;
      margin: auto 1rem;
      text-align: center;
    }

    @media (max-width: $device-xs) {
      display: flex;
    }
  }

  form {
    display: flex;
    flex-direction: row;

    @media (max-width: $device-xs) {
      flex-direction: column;
      margin-top: 1.5rem;

      .row {
        justify-content: center;
      }
    }

    mat-form-field {
      display: flex;
      flex: 0 0 10%;
      margin-left: 0.5rem;

      ::ng-deep .mat-form-field-infix {
        padding: 1rem 0;
        width: 12rem;
      }

      @media (max-width: $device-xs) {
        flex: 1;
        margin: auto 1rem;

        ::ng-deep .mat-form-field-wrapper {
          margin: 0.5rem 0;
          padding: 0.5rem 0;
          width: 100%;
        }

        ::ng-deep .mat-form-field-infix {
          width: 25rem;
        }
      }

      &:nth-last-child(1) {
        border: none;
      }
    }

    .sorting-filter {
      @media (max-width: $device-xs) {
        display: none;
      }
    }

    .btn-clear-filters {
      border: 0.1rem solid $error-color;
      border-radius: $border-radius;
      color: $light-text-color;
      font-weight: 400;
      height: 3.9rem;
      margin-left: 0.5rem;
      margin-top: 0.4rem;

      mat-icon {
        margin-top: -1.5rem;
      }

      @media (max-width: $device-xs) {
        display: none;
      }
    }
  }
  .date-range-picker {
    margin-top: 0.4rem;
    @include if-smaller-than(md) {
      margin: auto 1rem;
    }
  };
}


@include if-bigger-than(md) {
  .wrap-lnr-category-multiselect {
    margin-left: 0.4rem;
    margin-top: 0.4rem;

    ::ng-deep.btn-category-filter {
      padding: 0 0 0.2rem 1rem;
    }
  }
}
