<div
  class="stepper-container flex container direction-column align-items-center"
>
  <div class="justify-content-center p-0 m-0" id="request-flow-stepper">
    <mat-horizontal-stepper
      [linear]="isLinear"
      id="requestFlow-stepper-hor"
      labelPosition="bottom"
      #stepper
      *ngIf="!mobileQuery.matches"
    >
      <mat-step
        [stepControl]="durationFormGroup"
        [aria-label]="durationStep && 'disabledStep'"
      >
        <ng-template matStepLabel>
          {{ 'shared.duration' | translate }}
        </ng-template>

        <lnr-step-duration
          [durationFormGroup]="durationFormGroup"
          [hasInsurance]="false"
          [image_file]="data.image_file"
          [brand]="data.brand"
          [name]="data.name"
          [type]="type"
          [city]="data.city"
        >
        </lnr-step-duration>
      </mat-step>

      <mat-step
        [stepControl]="signInFormGroup"
        [aria-label]="signInStep && 'disabledStep'"
      >
        <ng-template matStepLabel>
          {{ 'booking.sign_in.tab' | translate }}
        </ng-template>

        <h3 class="bold" [innerHTML]="'booking.sign_in.login' | translate"></h3>
        <lnr-auth-login-dialog [isRequestFlow]="isRequestFlow">
        </lnr-auth-login-dialog>
      </mat-step>

      <mat-step
        [stepControl]="phoneFormGroup"
        [aria-label]="allOtherSteps && 'disabledStep'"
      >
        <ng-template matStepLabel>
          {{ 'shared.phone_number' | translate }}
        </ng-template>
        <lnr-user-verification-phone
          *ngIf="user"
          [stepper]="stepper"
          [dialogRef]="dialogRef"
          [user]="user"
          [isDesktop]="isDesktop"
          [isTablet]="isTablet"
          [isMobile]="isMobile"
        >
        </lnr-user-verification-phone>
      </mat-step>

      <mat-step
        [stepControl]="personalDetailsFormGroup"
        [aria-label]="allOtherSteps && 'disabledStep'"
      >
        <ng-template matStepLabel>
          {{ 'forms.address' | translate }}
        </ng-template>
        <lnr-user-verification-address
          *ngIf="user"
          [stepper]="stepper"
          [dialogRef]="dialogRef"
          [user]="user"
          [isDesktop]="isDesktop"
          [isTablet]="isTablet"
          [isMobile]="isMobile"
        >
        </lnr-user-verification-address>
      </mat-step>

      <mat-step
        [stepControl]="paymentMethodFormGroup"
        [aria-label]="allOtherSteps && 'disabledStep'"
      >
        <ng-template matStepLabel>
          {{ 'booking.payment.tab' | translate }}
        </ng-template>
        <lnr-payment
          *ngIf="user"
          [flowType]="'request-flow'"
          [mode]="'update'"
          (next)="stepper.next()"
          [user]="user"
          [paymentMethodFormGroup]="paymentMethodFormGroup"
        >
        </lnr-payment>
        <br />
      </mat-step>

      <mat-step
        [stepControl]="rentalOverviewFormGroup"
        [aria-label]="allOtherSteps && 'disabledStep'"
      >
        <ng-template matStepLabel>
          {{ 'booking.overview.tab' | translate }}
        </ng-template>

        <lnr-step-duration
          [durationFormGroup]="durationFormGroup"
          [hasInsurance]="hasInsurance"
          [image_file]="data.image_file"
          [brand]="data.brand"
          [name]="data.name"
          [type]="type"
          [city]="data.city"
        >
        </lnr-step-duration>
      </mat-step>
    </mat-horizontal-stepper>

    <mat-vertical-stepper
      [linear]="isLinear"
      id="requestFlow-stepper"
      labelPosition="bottom"
      #stepper
      *ngIf="mobileQuery.matches"
    >
      <mat-step
        [stepControl]="durationFormGroup"
        [aria-label]="durationStep && 'disabledStep'"
      >
        <ng-template matStepLabel>
          {{ 'shared.duration' | translate }}
        </ng-template>
        <lnr-step-duration
          [durationFormGroup]="durationFormGroup"
          [hasInsurance]="false"
          [image_file]="data.image_file"
          [brand]="data.brand"
          [name]="data.name"
          [type]="type"
          [city]="data.city"
        >
        </lnr-step-duration>
      </mat-step>

      <mat-step
        [stepControl]="signInFormGroup"
        [aria-label]="signInStep && 'disabledStep'"
      >
        <ng-template matStepLabel>
          {{ 'booking.sign_in.tab' | translate }}
        </ng-template>
        <h4 class="bold" [innerHTML]="'booking.sign_in.login' | translate"></h4>
        <lnr-auth-login-dialog> </lnr-auth-login-dialog>
      </mat-step>

      <mat-step
        [stepControl]="phoneFormGroup"
        [aria-label]="allOtherSteps && 'disabledStep'"
      >
        <ng-template matStepLabel>
          {{ 'shared.phone_number' | translate }}
        </ng-template>
        <lnr-user-verification-phone
          *ngIf="user"
          [stepper]="stepper"
          [dialogRef]="dialogRef"
          [user]="user"
          [isDesktop]="isDesktop"
          [isTablet]="isTablet"
          [isMobile]="isMobile"
        >
        </lnr-user-verification-phone>
      </mat-step>

      <mat-step
        [stepControl]="personalDetailsFormGroup"
        [aria-label]="allOtherSteps && 'disabledStep'"
      >
        <ng-template matStepLabel>
          {{ 'forms.address' | translate }}
        </ng-template>
        <lnr-user-verification-address
          *ngIf="user"
          [stepper]="stepper"
          [dialogRef]="dialogRef"
          [user]="user"
          [isDesktop]="isDesktop"
          [isTablet]="isTablet"
          [isMobile]="isMobile"
        >
        </lnr-user-verification-address>
      </mat-step>

      <mat-step
        [stepControl]="paymentMethodFormGroup"
        [aria-label]="allOtherSteps && 'disabledStep'"
      >
        <ng-template matStepLabel>
          {{ 'booking.payment.tab' | translate }}
        </ng-template>
        <lnr-payment
          *ngIf="user"
          [flowType]="'request-flow'"
          [mode]="'update'"
          (next)="stepper.next()"
          [user]="user"
          [paymentMethodFormGroup]="paymentMethodFormGroup"
        >
        </lnr-payment>
      </mat-step>

      <mat-step
        [stepControl]="rentalOverviewFormGroup"
        [aria-label]="allOtherSteps && 'disabledStep'"
      >
        <ng-template matStepLabel>
          {{ 'booking.overview.tab' | translate }}
        </ng-template>

        <lnr-step-duration
          [durationFormGroup]="durationFormGroup"
          [hasInsurance]="hasInsurance"
          [image_file]="data.image_file"
          [brand]="data.brand"
          [name]="data.name"
          [type]="type"
          [city]="data.city"
        >
        </lnr-step-duration>
      </mat-step>
    </mat-vertical-stepper>

    <div class="mt-9 d-none d-lg-block">
      <mat-card class="booking-widget-container">
        <mat-card-content>
          <lnr-bike-booking-widget
            [isPricesSectionShown]="false"
            [isButtonDisabled]="false"
            (submitEvent)="requestFlow()"
            [buttonText]="!isLastStep && 'Next'"
          >
          </lnr-bike-booking-widget>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <lnr-need-help class="mt-5"></lnr-need-help>
  <lnr-3d-secure #threeDSecure></lnr-3d-secure>
</div>
<lnr-booking-snackbar
  [bikeData]="forSnackData"
  (handleClick)="openBookingModal()"
></lnr-booking-snackbar>
