@import 'variables';
@import "utils/utils";

.mt-9 {
  margin-top: 9rem;
}

#request-flow-stepper {
  display: grid;
  grid-template-columns: 75% 30%;
  max-width: 100%;

  @include if-smaller-than(lg) {
    display: block;
    max-width: 100%;
  }
}
.booking-widget-container {
  margin-bottom: 1rem;
  position: sticky;
  top: 1rem;
}

#right-side-request-flow > div:last-child {
  margin-top: -2rem;
}

@include if-smaller-than(sm) {

  #right-side-request-flow {
    min-width: 100%;
    margin: 4rem 0;
  }
}

@include if-smaller-than(xl) {
  #request-flow {
    display: grid;
    grid-template-columns: 55% 45%;
    margin: 0;
    padding: 0;
  }
}

.header {
  font-weight: bold;
  font-size: 3rem;
  line-height: 120%;
  color: $dark-text-color;
  display: flex;
  justify-content: flex-start;
  padding: 0 10%;
  margin: 4rem auto;
}

::ng-deep mat-step-header[aria-label="disabledStep"] {
  pointer-events: none !important;

  .mat-step-icon {
    opacity: .5;
  }
}

:host::ng-deep .stepper-container {
  width: 100%;

  h4 {
    font-weight: normal;
    font-size: $h4-fontsize;
    line-height: 120%;
    color: $dark-text-color;
  }

  h5 {
    font-style: normal;
    font-weight: normal;
    font-size: $h5-fontsize;
    line-height: 150%;
    color: $dark-text-color;
  }

  lnr-phone-verification {
    div.dropdown-menu {
      div.search {
      }
    }
  }

  ::ng-deep {
    #requestFlow-stepper, #requestFlow-stepper-hor {
      left: 20%;
      margin-top: 9rem;
      font-size: $h5-fontsize;

      .mat-horizontal-stepper-header {

        cursor: pointer;
        box-sizing: border-box;
        border-bottom: .2rem solid white;
        transition: .5s all;
        padding: 2rem 0 0;

        div {
          &.mat-step-icon {
            width: 2.8rem;
            height: 2.8rem;
          }

          &.mat-step-icon-state-done.mat-step-icon {
            background: $main-green;
          }
        }

        .mat-step-label-active.mat-step-label-selected {
          opacity: 1;
        }

        .mat-step-label {
          font-size: $base-font_size;
          width: 14.4rem;
        }
      }

      .mat-horizontal-stepper-content {

        .mat-form-field-wrapper, .mat-form-field-infix, .mat-form-field-infix .mat-select {
          padding: 0;
          margin-top: 0;

          .mat-select-trigger {
            padding: 0 1.4rem;
          }
        }
      }

      .mat-horizontal-content-container {
        padding-top: 4rem;

        [aria-labelledby="cdk-step-label-0-1"] {
          h4 {
            margin-bottom: 3rem;
          }
        }

        lnr-auth-login-dialog {

          .lnr-dialog-header {
            h2, lnr-button-close {
              display: none;
            }
          }

          mat-dialog-content > mat-form-field {
            margin-bottom: 2rem;
          }

          .mat-error {
            margin-top: 2.5rem;
          }
        }

        lnr-user-verification-phone, lnr-user-verification-address {
          .step-actions {
            .left-side {
              visibility: hidden;
            }
          }
        }

        lnr-user-verification-address {

          .mat-error {
            margin-top: 2.5rem;
          }
        }

        lnr-auth-login-form {
          .row {
            .not-a-member {
              margin-top: 2rem;
            }
          }
        }

        lnr-address {
          div.row {
            margin: 3rem -1.5rem;
          }
        }

      }
    }
  }

  ::ng-deep {
    mat-vertical-stepper#requestFlow-stepper, mat-vertical-stepper#requestFlow-stepper-hor {

      width: 100%;
      margin: 0 auto;

      lnr-step-duration {
        .main_container {
          width: 100%;
          height: 100%;

          .leftContainer {
            grid-template-columns: 100%;

            .container {
              margin: 2rem 0;
              grid-template-columns: 40% 70%;

            }
          }
        }

        .insurance_container {
          grid-template-columns: 100%;

          .premium_insurance {
            border: none;
            border-bottom: .1rem solid $input-border;
            padding-bottom: 2rem;

            button {
              margin: 1.7rem 1rem 1rem 2rem;

            }
          }

          .voucher {
            padding: 0;
            margin: 2rem 0;

            .input_voucher {
              input {
                width: 14rem;
              }
            }
          }
        }

      }

      lnr-auth-login-dialog {

        .lnr-dialog-header {
          display: none;
        }
      }

      lnr-step-payment {
        div.pay {
          padding: 2rem 0;
        }
      }
    }
  }


  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .mat-horizontal-stepper-content {

    .duration {
      display: flex;
      flex-direction: column;

      div.container {
        display: flex;

        #left-side-duration-step {
          width: 70%;

          .leftContainer {
            display: grid;
            grid-template-columns: 30% 70%;

            img {
              width: 100%;
            }

            div {
              margin-left: 2rem;
            }
          }
        }
      }
    }
  }


  ::ng-deep {
    .mat-button-stepper {
      width: 16.6rem;
      height: 4.2rem;
      margin: 4rem 4% 4rem 0;

      &[disabled] {
        background: $submit-button-color-disabled;
      }
    }

    div.ng-trigger.ng-trigger-transformPanel.mat-select-panel.mat-primary {
      height: 30rem !important;
    }


  }


  @include if-smaller-than(md) {
    .preview-container {
      grid-template-columns: 100%;

      .imgCheckboxContainer {
        input {
          width: 3.4rem !important;
        }
      }
    }
  }


  @include if-smaller-than(sm) {

    .mat-stepper-horizontal {
      padding: 0 5%;
      width: 100%;
    }
    .header {
      width: 100%;
      padding: 0 10%;
    }

    .mat-horizontal-stepper-header-container {
      left: 20%;
      display: flex;
      justify-content: space-around;

      .mat-horizontal-stepper-header {
        padding: 0 !important;
      }
    }

    #location-container {
      .location-container {
        display: grid;
        grid-template-columns: 100%;
      }
    }

    #pricing-container {
      .pricing-container, .customised {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;

        mat-form-field {
          display: flex;
          max-width: 100%;

          .mat-form-field-wrapper {
            width: 90%;
          }
        }
      }
    }

    .stepper-container.preview-container.bikePhotoContainer.bikeCheckedContainer.imgCheckboxContainer.custom-checkbox {
      width: 3.4rem;
    }
  }

}

:host::ng-deep .red-snackbar {
  background: $error-color;
}

:host::ng-deep .green-snackbar {
  background: $submit-button-color;
}

.message {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host::ng-deep .mat-select-panel {
  max-height: 35rem !important;
}

lnr-booking-snackbar {
  position: sticky;
  bottom: 0;
  display: flex;
  width: 100%;
  ::ng-deep.bike-booking-snackbar{
    width: 100%;
    margin: 0;
  }
}
