@import 'variables';

mat-header-row {
  background-color: $table-header-color;
  position: sticky;
  top: 6rem !important;

  @media (max-width: $device-xs) {
    top: 10rem !important;
    z-index: 2 !important;
  }
}

.element-row {
  position: relative;
}

.element-row {
  cursor: pointer;
}

.element-row:hover {
  background: $table-header-color;
}

.element-row.disabled {
  opacity: 0.3;
}

:host {
  ::ng-deep.mat-paginator-page-size-select {
    line-height: 3rem;
    margin-top: 0;
  }

  ::ng-deep.mat-paginator-container {
    align-items: baseline;
  }

  mat-header-row {
    z-index: 2 !important;
  }
}
