@import '../../../../assets/scss/variables';

:host {
  .sorting-apply {
    color: $submit-button-color;
  }

  .sorting-label {
    font-weight: bold;
    text-transform: uppercase;
  }

  mat-list-item {
    color: $light-text-color;

    &:hover {
      border-bottom: 0.1rem solid $light-grey;
      border-top: 0.1rem solid $light-grey;
      color: $dark-text-color;
    }
  }

  @media (max-width: $device-xs) {
    background-color: $white-font-color;
    border-radius: 1.2rem 1.2rem 0 0;
    bottom: 0;
    box-shadow: 2.9rem 2.3rem 3rem rgba(86, 89, 96, 0.36);
    flex: 1;
    left: 0;
    margin-bottom: 0;
    padding: 1rem 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;
  }
}
