.password-tips {
  color: rgba(61, 65, 71, 0.56);
  line-height: 1.67;

  &.wrapper {
    // margin: 12px 0px 24px;
    margin-bottom: 16px;
  }

  .password-tip {
    align-items: center;
    display: flex;
    font-size: 12px;

    &.confirmed {
      color: green;
    }

    mat-icon {
      color: inherit;
      margin-right: 10px;
    }
  }
}

.toggle-visibility {
  bottom: 0;
  cursor: pointer;
  display: block;
  height: 33px;
  margin: auto;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
}
