<div class="welcome-screen">
  <div
    class="welcome-screen_image"
    [ngStyle]="{ 'background-image': 'url(' + event.hero_image + ')' }"
  >
    <img src="{{ event.logo }}" />
  </div>
  <div class="welcome-screen_content">
    <div
      class="welcome-screen_content_date welcome-screen_content_date_desktop"
    >
      <h5>
        <span class="thin"> {{ 'shared.when' | translate }}: </span>
        {{ event.pretty_date }}
      </h5>
      <h5>
        <span class="thin"> {{ 'shared.where' | translate }}: </span>
        {{ event.location }}
      </h5>
    </div>
    <div class="welcome-screen_content_block">
      <div
        class="welcome-screen_content_date welcome-screen_content_date_mobile"
      >
        <h6>
          <span class="thin"> {{ 'shared.when' | translate }}: </span>
          {{ event.pretty_date }}
        </h6>
        <h6>
          <span class="thin"> {{ 'shared.where' | translate }}: </span>
          {{ event.location }}
        </h6>
      </div>
      <h4 class="m-b-2 dark-font-color">
        {{ event.title }}
      </h4>
      <p class="heading-5 thin dark-font-color">
        {{ event.description }}
      </p>
    </div>
  </div>
</div>
