<lnr-settings-company-info
  class="lnr-mrg-btm"
  [user]="user"
></lnr-settings-company-info>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-payment
  [flowType]="'settings'"
  class="lnr-mrg-btm"
  [mode]="'view'"
  [user]="user"
></lnr-payment>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-payout-method
  class="lnr-mrg-btm"
  [user]="user"
></lnr-settings-payout-method>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-vouchers
  class="lnr-mrg-btm"
  [user]="user"
></lnr-settings-vouchers>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-notifications
  class="lnr-mrg-btm"
  [user]="user"
></lnr-settings-notifications>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-newsletter
  class="lnr-mrg-btm"
  [user]="user"
></lnr-settings-newsletter>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-deactivate-account
  class="lnr-mrg-btm"
  [user]="user"
></lnr-settings-deactivate-account>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>
