.lnr-static-page {
  .lnr-static-banner {
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
  }

  .title {
    margin-bottom: 24px;
  }

  .sub-title {
    margin-bottom: 40px;
  }

  .content {
    margin-bottom: 40px;
  }
}
