@import '../../../../../assets/scss/variables';

.our-pros {
  &_title,
  &_paragraph {
    color: $dark-text-color;
    font-weight: normal;
    //line-height: 2rem;
  }

  &_title {
    //margin-bottom: 1.4rem;
    //margin-top: 1.8rem;
  }

  &_paragraph {
    //padding-right: 2rem;
  }
}

@media (max-width: $device-sm) {
  .our-pros {
    align-items: center;
    flex-direction: row;
    justify-content: center;

    img {
      margin-right: 2rem;
    }

    &_title,
    &_paragraph {
      line-height: 1.6rem;
    }

    &_title {
      margin-bottom: 0.4rem;
      margin-top: 0.4rem;
    }
  }
}
