<button
  mat-flat-button
  class="btn-category-filter"
  [matMenuTriggerFor]="categoriesMenu"
>
  <img
    class="label-icon"
    *ngIf="labelIcon"
    alt=""
    src="../../../../assets/images/icons/shared/bike.svg"
  />
  {{ label }}
</button>
<mat-menu #categoriesMenu="matMenu" class="category-filter">
  <div
    class="category"
    *ngFor="let category of categories; let i = index"
    (click)="handleMenuClick($event)"
  >
    <div class="category-label">
      <mat-checkbox
        (change)="handleCategoryChange(i)"
        [checked]="checkCategorySelected(i)"
        [indeterminate]="checkIndeterminate(i)"
      ></mat-checkbox>
      <span (click)="toggleCategory(i)">{{ category.type }}</span>
      <mat-icon
        aria-hidden="false"
        svgIcon="lnr-{{ category.name }}"
        aria-label="category icon"
      ></mat-icon>
    </div>

    <div class="sub-category" [ngClass]="{ active: category.active }">
      <div class="option" *ngFor="let subcategory of category.categories">
        <mat-checkbox
          [(ngModel)]="categoriesForm[subcategory.value]"
          (change)="handleSubcategoryChange()"
        >
          {{ subcategory.text }}
        </mat-checkbox>
      </div>
    </div>
  </div>
</mat-menu>
