<lnr-settings-picture class="lnr-mrg-btm" [user]="user"></lnr-settings-picture>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-general class="lnr-mrg-btm" [user]="user"></lnr-settings-general>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-phone class="lnr-mrg-btm" [user]="user"></lnr-settings-phone>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-password
  class="lnr-mrg-btm"
  [user]="user"
></lnr-settings-password>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-address class="lnr-mrg-btm" [user]="user"></lnr-settings-address>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-invoice-address
  class="lnr-mrg-btm"
  [user]="user"
></lnr-settings-invoice-address>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-bio class="lnr-mrg-btm" [user]="user"></lnr-settings-bio>
