<div class="row">
  <div class="col-sm-12 col-md-2 offset-md-1">
    <h6>{{ 'forms.password' | translate }}</h6>
  </div>

  <ng-container *ngIf="mode === 'update'">
    <div class="col-sm-12 col-md-8">
      <lnr-password-update></lnr-password-update>

      <div class="row">
        <div class="col-sm-12 col-md-7"></div>
        <div class="col-sm-12 col-md-2">
          <button mat-stroked-button class="w-p-100" (click)="openView()">
            {{ 'shared.cancel' | translate }}
          </button>
        </div>

        <div class="col-sm-12 col-md-3">
          <button
            mat-raised-button
            type="submit"
            color="primary"
            class="w-p-100"
          >
            {{ 'availability.submit-btn-save' | translate }}
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="mode === 'view'">
    <div class="col-sm-12 col-md-8">
      <div class="row">
        <div class="col-sm-10">
          <table class="lnr-table-info m-b-2">
            <tr>
              <td>{{ 'forms.password' | translate }}:</td>
              <td>*************</td>
            </tr>
          </table>
        </div>
        <div class="col-sm-2 text-left">
          <button mat-button class="lnr-btn-edit" (click)="openUpdate()">
            <mat-icon>edit</mat-icon>
            {{ 'shared.edit' | translate }}
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
