<div class="row">
  <div class="col-sm-12 col-md-2 offset-md-1">
    <h6>Deactivate account</h6>
  </div>

  <div class="col-sm-12 col-md-8">
    <p>
      Here you can deactivate your listnride account. This step can not be
      undone.
    </p>

    <div class="row">
      <div class="col-sm-12 col-md-8"></div>

      <div class="col-sm-12 col-md-4">
        <button mat-stroked-button color="warn" class="lnr-w-100">
          Deactivate account
          <lnr-loader-spinner-small *ngIf="false"></lnr-loader-spinner-small>
        </button>
      </div>
    </div>
  </div>
</div>
