.image-wrapper {
  border-radius: 50%;
  cursor: pointer;
  max-height: 120px;
  max-width: 120px;
  overflow: hidden;
  position: relative;

  &:hover {
    .overlay {
      bottom: 0;
    }
  }

  img {
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.4);
    bottom: -100px;
    color: #fff;
    left: 0;
    padding: 3px;
    position: absolute;
    right: 0;
    text-align: center;
    transition: bottom 0.2s;
  }
}
