<form
  class="duration"
  [formGroup]="durationFormGroup"
  *ngIf="durationFormGroup"
>
  <div class="main_container">
    <h3
      class="bold"
      [innerHTML]="'booking.calendar.bike_rental' | translate"
    ></h3>
    <div id="left-side-duration-step">
      <h5 [innerHTML]="'booking.calendar.intro_description' | translate"></h5>
      <div class="leftContainer">
        <img src="{{ image_file }}" />
        <div class="container">
          <div
            class="bold"
            [innerHTML]="'list.details.brand' | translate"
          ></div>
          <div>{{ brand }}</div>
          <div class="bold" [innerHTML]="'list.details.name' | translate"></div>
          <div>{{ name }}</div>
          <div class="bold" [innerHTML]="'shared.bike_type' | translate"></div>
          <div>{{ type }}</div>
          <div
            class="bold"
            [innerHTML]="'booking.overview.location' | translate"
          ></div>
          <div>{{ city }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="insurance_container" *ngIf="hasInsurance">
    <div class="premium_insurance">
      <h4
        class="font-weight-bold"
        [innerHTML]="'booking.overview.premium_insurance_title' | translate"
      ></h4>
      <p [innerHTML]="'booking.overview.thats_included' | translate"></p>
      <div>
        <div>
          <mat-icon class="material-icons md-18">done</mat-icon>
          <label
            [innerHTML]="'booking.overview.premium_feature_1' | translate"
          ></label>
        </div>
        <div>
          <mat-icon>done</mat-icon>
          <label
            [innerHTML]="'booking.overview.premium_feature_4' | translate"
          ></label>
        </div>
      </div>
      <button id="addPremiumInsurance">
        {{ 'booking.overview.add' | translate }}{{ ' '
        }}{{ 'booking.overview.premium_insurance' | translate }}
      </button>
    </div>

    <div class="voucher">
      <h4
        class="font-weight-bold"
        [innerHTML]="'booking.overview.redeem_voucher' | translate"
      ></h4>

      <div class="input_voucher">
        <input matInput placeholder="Enter voucher code" />
        <button
          [innerHTML]="'booking.overview.add' | translate"
          (click)="request()"
        ></button>
      </div>
    </div>
  </div>
</form>
