@import '../../../assets/scss/variables';

:host {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .my-bikes-toolbar {
    background-color: $white;
    height: 6rem;
    justify-content: space-between;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 1;

    @media (max-width: $device-xs) {
      height: 10rem;
    }
  }

  button {
    margin: 0.5rem;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  mat-form-field {
    margin: 0.5rem;
  }
}
