@import '../../../../../assets/scss/variables';

:host {
  display: block;
  position: absolute;
  right: 0;
  top: 0;

  //&:hover {
  //  //-webkit-animation: bounce 2s linear infinite;
  //  //-moz-animation: bounce 2s linear infinite;
  //  //-ms-animation: bounce 2s linear infinite;
  //  //-o-animation: bounce 2s linear infinite;
  //  //animation: bounce 2s linear infinite;
  //
  //  button {
  //    -webkit-animation: rotating 2s linear infinite;
  //    -moz-animation: rotating 2s linear infinite;
  //    -ms-animation: rotating 2s linear infinite;
  //    -o-animation: rotating 2s linear infinite;
  //    animation: rotating 2s linear infinite;
  //    border: 3px solid;
  //  }
  //
  //  .dot {
  //    opacity: 1;
  //  }
  //
  //  .rotation {
  //    &__20 {
  //      transform: rotate(20deg);
  //    }
  //
  //    &__40 {
  //      transform: rotate(40deg);
  //    }
  //
  //    &__60 {
  //      transform: rotate(60deg);
  //    }
  //
  //    &__80 {
  //      transform: rotate(80deg);
  //    }
  //
  //    &__100 {
  //      transform: rotate(100deg);
  //    }
  //
  //    &__120 {
  //      transform: rotate(120deg);
  //    }
  //
  //    &__140 {
  //      transform: rotate(140deg);
  //    }
  //
  //    &__160 {
  //      transform: rotate(160deg);
  //    }
  //  }
  //}


  button,
  button:focus,
  button:active {
    background: transparent !important;
    border: none;
    border-radius: 50%;
    box-shadow: none !important;
    box-sizing: content-box;
    cursor: pointer;
    height: 30px;
    line-height: unset;
    min-width: auto;
    outline: none;
    padding: 0 !important;
    position: relative;
    width: 30px;


  }

  .line,
  .dot {
    background-color: $dark-background;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
  }

  .line {
    height: 2px;
    transform: rotate(135deg);
    width: 30px;
  }

  .dot {
    background: $dark-text-color;
    border-radius: 50%;
    height: 6px;
    opacity: 0;
    width: 6px;
    z-index: 1;
  }

  .rotation {
    .rotation {
      visibility: hidden;

      &__40 {
        transform: rotate(45deg);
        visibility: visible;
      }
    }
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
