<button [disabled]="disabled" (click)="onClose()">
  <mat-icon svgIcon="close" [style.color]="color"></mat-icon>

  <!--  <div class="rotation">-->
  <!--    <div class="dot"></div>-->
  <!--    <div class="line"></div>-->
  <!--    <div class="rotation rotation__20 line"></div>-->
  <!--    <div class="rotation rotation__40 line"></div>-->
  <!--    <div class="rotation rotation__60 line"></div>-->
  <!--    <div class="rotation rotation__80 line"></div>-->
  <!--    <div class="rotation rotation__100 line"></div>-->
  <!--    <div class="rotation rotation__120 line"></div>-->
  <!--    <div class="rotation rotation__140 line"></div>-->
  <!--    <div class="rotation rotation__160 line"></div>-->
  <!--  </div>-->
</button>
