<div class="social-media-block">
  <h3 class="social-media-block_title regular">
    Keep in touch with us!
  </h3>
  <lnr-social-media-img
    [link]="'https://www.facebook.com/listnride/'"
    [img]="'../../../../../assets/images/icons/shared/fb.svg'"
  >
  </lnr-social-media-img>
  <lnr-social-media-img
    [link]="'https://www.instagram.com/listnride/'"
    [img]="'../../../../../assets/images/icons/shared/inst.svg'"
  >
  </lnr-social-media-img>
  <lnr-social-media-img
    [link]="'mailto:hello@listnride.com'"
    [img]="'../../../../../assets/images/icons/shared/mail.svg'"
  >
  </lnr-social-media-img>
</div>
