<div class="row">
  <div class="col-sm-12 col-md-2 offset-md-1">
    <h6>Notifications</h6>
  </div>

  <div class="col-sm-12 col-md-7">
    <p>
      You will receive only a notification for a new booking request,
      cancellations and privates messages
    </p>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        Accept request reminder
      </div>

      <div class="col-sm-12 col-md-6">
        Confirm return messages
      </div>

      <div class="col-sm-12 col-md-6">
        Return reminder messages
      </div>
    </div>
  </div>
</div>
