@import 'variables';
@import 'utils/utils';


.header {
  font-weight: bold;
  font-size: 3rem;
  line-height: 120%;
  color: $dark-text-color;
  display: flex;
  justify-content: flex-start;
  padding: 0 10%;
  margin: 4rem auto;
}

:host::ng-deep .stepper-container {
  width: 100%;

  h3 {
    font-weight: normal;
    font-size: $h5-fontsize;
    line-height: 120%;
    color: $dark-text-color;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: $h6-fontsize;
    line-height: 180%;
    color: $dark-text-color;
  }

  ::ng-deep #listMyBike-stepper {
    left: 20%;

    .mat-horizontal-stepper-header, .mat-vertical-stepper-header {
      &[aria-labelledby="stepVerified"] {
        div {
          &.mat-step-icon {
            background: $main-green;
          }
        }
      }

      div {
        &.mat-step-icon {
          width: 2.8rem;
          height: 2.8rem;
          font-weight: bold;
          font-size: $h4-fontsize;
          line-height: 120%;
          display: flex;
          align-items: center;
          text-align: center;
        }

        &.mat-step-label {
          font-weight: 500;
          font-size: $h6-fontsize;
          line-height: 120%;
          text-align: center;
        }

        &.mat-step-icon-state-done.mat-step-icon {
          background: $main-green;
        }
      }

      &[ng-reflect-state="error"] {
        div {
          &.mat-step-icon, &.mat-step-label {
            color: $missing-information-color;
          }
        }
      }

      div.mat-step-label.mat-step-label-active.mat-step-label-selected {

        div.notFilled {
          color: $missing-information-color;
        }
      }

      div.notFilledPicture.picture {
        color: $missing-information-color;
      }


      .mat-step-label-active.mat-step-label-selected {
        opacity: 1;
      }

     .mat-step-icon-state-done {
      background: $submit-button-color;
     }
    }

    .mat-horizontal-stepper-content, .mat-vertical-stepper-content {

      .mat-form-field-wrapper, .mat-form-field-infix, .mat-form-field-infix .mat-select {
        padding: 0;
        margin-top: -0.1rem;

        input, textarea, select {

          &.ng-invalid.ng-touched {

            border-color: $error-color;
          }
        }

        mat-select {
          &.mat-select-invalid.ng-touched {
            border-color: $error-color;
          }
        }


        .mat-select-trigger {
          padding: 0 1.4rem;
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }


  ::ng-deep {
    .mat-button-stepper {
      width: 16.6rem;
      height: 4.2rem;
      margin: 4rem 4% 4rem 0;

      &[disabled] {
        background: $submit-button-color-disabled;
      }
    }

    div.ng-trigger.ng-trigger-transformPanel.mat-select-panel.mat-primary {
      height: 30rem !important;
    }

    .mat-horizontal-stepper-content .category .mat-form-field-flex, .mat-vertical-stepper-content .category .mat-form-field-flex {
      background: $white;
      padding: 0;

      .mat-select-placeholder,
      .mat-select-value-text {
        font-size: 1.4rem;
        line-height: 150%;
      }

      .mat-select {
        border: 0.1rem solid $input-border !important;
        border-radius: $border-radius;
        height: 4.2rem;
        align-items: center;
        display: grid;
      }

      .mat-select-arrow {
        color: $input-border !important;
      }

      .mat-select-invalid.ng-touched {
        border-color: $error-color !important;
      }

      .ng-valid .mat-select-arrow {
        color: $grey-background !important;
      }

      .mat-select-placeholder {
        color: $grey-background;
      }

      .mat-select-arrow-wrapper {
        transform: none;
      }

      .mat-select-trigger {
        border-radius: .3rem;
        padding: .6rem 1.3rem;
      }
    }

    .active {
      background: $submit-button-color !important;
      font-weight: bold;
      font-size: $h6-fontsize;
      line-height: $h4-fontsize;
      text-align: center;
      color: $white;
    }

    .header {
      width: 100%;
      max-width: 160rem;
      padding: 0 10%;
    }

    .mat-stepper-horizontal {
      width: 100%;
      max-width: 160rem;
      padding: 0 15%;
    }

    .mat-stepper-vertical {
      padding: 0;
      width: 100%;
      max-width: 160rem;
    }

    .mat-horizontal-content-container, .mat-vertical-content-container {
      padding: 0 !important;

      .mat-horizontal-stepper-content, .mat-vertical-stepper-content {
        .mat-form-field-underline {
          display: none !important;
        }

        label, mat-label {
          font-weight: bold;
        }

        .preview-container {
          img {
            width: 16.4rem !important;
            height: 11rem !important;
          }

          .imgCheckboxContainer {
            margin-left: 15%;
            display: flex;
            flex-direction: row !important;

            input {
              border: .1rem solid $input-border;
              box-sizing: border-box;
              width: 2.4rem;
              height: 2.4rem;
            }

            label {
              font-weight: 500;
              font-size: $h6-fontsize;
              line-height: 120%;
              margin-left: .5rem;
            }
          }
        }
      }

      label, mat-label {
        font-weight: bold;
      }

      div.mat-form-field-infix {
        div {
          flex-direction: column;

          div.frame-number {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }

      div.mat-form-field-infix {
        div {
          flex-direction: column;

          div.frame-number {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }

      div.mat-form-field-infix {
        div {
          flex-direction: column;

          div.frame-number {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }

      div.button-container.first {
        display: flex;
        justify-content: flex-end;
      }

      div.button-container {
        display: flex;
        justify-content: space-between;
      }
    }

    .pictureLoader {
      p.pictureLoader {
        margin-top: 3.5rem;
      }

      h3 {
        margin-top: 2.3rem;
      }

      .errorMessage {
        color: $error-color;
      }
    }

    #upload-file {
      font-size: $h6-fontsize;
      line-height: $h4-fontsize;
      text-align: center;
      margin: $h6-fontsize 0 3.4rem 0;
      color: $white;
      background: $submit-button-color;
      border-radius: .4rem;
      padding: 1.2rem 2.6rem 1.0rem 2.4rem;
    }

    #upload {
      visibility: hidden;
    }


    .category {
      .description {
        margin-top: 4rem;
        margin-bottom: 3rem;
      }

      .description-what {
        margin-bottom: 2rem;
      }

      //.mat {
      //  margin-bottom: 1.5rem;
      //}
    }
  }

  #location-container {
    h3 {
      margin-top: 4.5rem;
      margin-bottom: 2rem;
      padding: 0 1rem;
    }

    p {
      padding: 0 1rem;
    }

    mat-form-field {
      padding: 0;
      margin: 1rem $h5-fontsize;

      .mat-form-field-label {
        position: absolute !important;
        top: 1.28125em !important;
        transform: translateY(-1.34375em);
      }
    }

    .location-container {
      display: grid;
      grid-template-columns: 50% 50%;

      #bikeValue.bikeValue {
        width: 100%;

        .mat-form-field-wrapper {

          .mat-horizontal-stepper-content .category .mat-form-field-flex {
            width: 100% !important;
          }
        }
      }

      div {

        mat-form-field, .inner-container {
          margin: 3rem 1rem;
          padding: 1rem;
        }

        .inner-container {
          mat-form-field {
            margin: 0;
            padding: 0;
          }
        }
      }

      //
      label, mat-label {
        font-weight: 500;
        font-size: $h6-fontsize;
        line-height: 120%;
        color: $dark-text-color;
      }

      input, mat-select {
        background: none;
        padding: 0 $h6-fontsize;
        border-width: .1rem;
        border-radius: .4rem;
        border-style: solid;
        line-height: 3rem;
        height: 4.2rem;
        border-color: $input-border;

        .mat-form-field-label {
          position: absolute !important;
          top: 1.28125em !important;
          transform: translateY(-1.34375em);
        }
      }
    }
  }

  #pricing-container {
    h3 {
      margin: 4.7rem $h5-fontsize 0;
    }

    p {
      margin: 1rem $h5-fontsize 0;
    }

    .customised {
      margin-top: 3rem;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      width: 45rem;
      @include if-smaller-than(sm) {
        width: 100%;
      }


      mat-slide-toggle {
        margin-right: 1rem;
      }

    }

    .pricing-container {
      width: 47.8rem;
      margin-top: 3rem;
      @include if-smaller-than(sm) {
        width: 100%;
      }

      label, mat-label {
        font-weight: 500;
        font-size: $h6-fontsize;
        line-height: 120%;
        color: $dark-text-color;
      }

      input, mat-select {
        background: none;
        border-width: .1rem;
        border-radius: .4rem;
        border-style: solid;
        line-height: 4rem;
        height: 4.2rem;
        border-color: $input-border;
        padding: 0 1rem;
      }

      mat-form-field {
        padding: 0;
        margin: 1rem $h5-fontsize;

        .mat-form-field-label {
          position: absolute !important;
          top: 1.28125em !important;
          transform: translateY(-1.34375em);
        }
      }
    }
  }


  @include if-smaller-than(sm) {
    .preview-container {
      grid-template-columns: 100%;

      .imgCheckboxContainer {
        input {
          width: 3.4rem !important;
        }
      }
    }
  }


  @include if-smaller-than(sm) {
    .mat-stepper-horizontal {
      padding: 0 5%;
      width: 100%;
    }
    .header {
      width: 100%;
      padding: 0 10%;
    }

    .mat-horizontal-stepper-header-container {
      left: 20%;
      display: flex;
      justify-content: space-around;

      .mat-horizontal-stepper-header {
        padding: 0 !important;
      }
    }

    #location-container {
      .location-container {
        display: grid;
        grid-template-columns: 100%;
      }
    }

    #pricing-container {
      .pricing-container, .customised {
        //display: grid;
        //grid-template-columns: 100%;
        width: 100%;

        mat-form-field {
          display: flex;
          max-width: 100%;

          .mat-form-field-wrapper {
            width: 90%;
          }
        }
      }
    }

    .stepper-container.preview-container.bikePhotoContainer.bikeCheckedContainer.imgCheckboxContainer.custom-checkbox {
      width: 3.4rem;
    }
  }

}

:host::ng-deep .red-snackbar {
  background: $error-color;
}

:host::ng-deep .green-snackbar {
  background: $submit-button-color;
}

.message {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host::ng-deep .mat-select-panel {
  max-height: 35rem !important;
}

input.ng-invalid.ng-touched {
  border-color: $error-color;

}

input.ng-invalid.ng-touched {
  border-color: $error-color;

}
