@import "variables";
@import "utils/utils";

:host::ng-deep .details {

  @include if-smaller-than(md) {
    grid-template-columns: 100%;
  }

  h3 {
    margin-top: 2rem;
  }

  #details_container, #details_brand_container {
    display: flex;
    padding: 0 !important;
    width: 100%;

    mat-form-field {
      margin: 0 1rem;

      &.brand, &.model, &.description {
        margin: 2.5rem 0;
      }

      div {
        padding: 0;
      }

      mat-icon {
        padding-left: 1rem;
        cursor: pointer;
        display: table;
      }

      .mat-form-field-label {
        position: absolute !important;
        top: 1.28125em !important;
        transform: translateY(-1.34375em);
      }
    }

    label, mat-label {
      font-weight: 500;
      font-size: $h6-fontsize;
      line-height: 120%;
    }

    input, mat-select, textarea {
      background: none;
      padding: 0 1rem;
      border-width: .1rem;
      border-radius: .4rem;
      border-style: solid;
      line-height: 4rem;
      height: 4.2rem;
      border-color: $input-border;
      margin-top: 1rem;
    }

    #rider-height {
      .mat-select {
        margin-top: 1rem;
      }
    }

    input.quantity {
      height: 4.2rem;
      border: .1rem solid $input-border;
      box-sizing: border-box;
      padding: 0 0 0 2rem;
      font-size: $h6-fontsize;
      line-height: 150%;
    }

    label.quantity, mat-form-field.quantity {
      margin-right: .5rem;
      padding: 0;
    }
  }

  #details_container {
    display: grid;
    grid-template-columns: 6.7rem 23% 23% 23% 23%;

    @include if-smaller-than(md) {
      display: grid;
      grid-template-columns: 100%;
    }
  }

  #details_brand_container {
    display: grid;
    grid-template-columns: 50% 50%;

    @include if-smaller-than(md) {
      display: grid;
      grid-template-columns: 100%;

    }

    mat-form-field {
      display: flex;

      div.mat-form-field-wrapper {
        width: 100%;

        .mat-form-field-infix {
          display: flex;
          flex-direction: column;

          input {
            height: 4rem;
            padding: 0 $h6-fontsize;
          }

          textarea.description {
            height: 14rem;
            padding: $h6-fontsize;
            width: 95%;
            line-height: 2.56rem;
            min-height: 4rem;

            @include if-smaller-than(md) {
              width: 100%
            }
          }
        }
      }

      mat-hint {
        margin-top: 1.5rem;
        margin-right: 3.5rem;
      }
    }
  }
}

.addVariants {
  display: flex;
  justify-content: flex-end;
  margin-right: 7%;
  color: $submit-button-color;
  font-style: normal;
  font-weight: normal;
  font-size: $h6-fontsize;
  line-height: 120%;

  a {
    cursor: pointer;
  }
}
