<div class="step-content">
  <div class="step-content-header">
    <img
      class="icon"
      alt="user verification"
      src="../../../../../assets/images/icons/user-verification/lnr-verification-user.svg"
    />

    <h3 class="step-title">Verify your profile</h3>

    <p>
      The more information you enter, the higher are chances for your rental
      requests to be accepted. It will takes only 3 minutes
    </p>
  </div>
</div>

<div class="step-actions">
  <button mat-stroked-button color="primary" (click)="closeDialog()">
    Not now
  </button>

  <button
    mat-raised-button
    color="primary"
    class="lnr-mrg-l-16"
    (click)="start()"
  >
    Verify my profile
  </button>
</div>
